<main class="chat__main">
  <div class="chat__room">
    <div class="msgs" id="msgs">
      <div class="user--num">
        <strong>접속자: </strong
        ><span class="user--num__value" id="jsUserNum">0</span> 명
      </div>
    </div>
    <div class="input-wrap">
      <input
        type="text"
        name="msg--send"
        id="jssendMsg"
        placeholder="메시지를 입력해주세요."
      />
      <button type="button" id="jssendbtn">
        <i class="far fa-paper-plane"></i>
      </button>
    </div>
  </div>
</main>
